{{- $repo := (.Get "repo") -}}
{{- $table := default "false" (.Get "table") -}}
{{- $count := default 10 (.Get "count") -}}

{{- $urlPre := "https://api.github.com/repos/" -}}
{{- $type := "/releases" -}}
{{- $postRequest := getJSON $urlPre $repo $type -}}

{{- if eq $table "false" -}}
    {{- range first $count $postRequest -}}
        {{- $name := .name -}}
        {{- $assetsRequest := getJSON .assets_url -}}
        {{- range first 1 $assetsRequest -}}
            <a href="{{ .browser_download_url }}">{{ $name }}</a>
        {{- end -}}
    {{- end -}}
{{- else -}}
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">Commit</th>
      <th scope="col">Release</th>
      <th scope="col">File</th>
      <th scope="col">Git Msg</th>
    </tr>
  </thead>
  <tbody>
    {{- range first $count $postRequest -}}
        {{- $name := .name -}}
        {{- $assetsRequest := getJSON .assets_url -}}
        {{- $commitText := .body -}}
        {{- $commit := .tag_name -}}
        {{- $downloadUrl := "" -}}
        {{- $downloadFileName := "" -}}
        {{- range first 1 $assetsRequest -}}
            {{- $downloadUrl = .browser_download_url -}}
            {{- $downloadFileName = .name -}}
        {{- end -}}
    <tr>
      <th scope="row">{{ $commit }}</th>
      <td>{{ $name }}</td>
      <td><a href="{{ $downloadUrl }}">{{ $downloadFileName }}</a></td>
      <td>{{ $commitText }}</td>
    </tr>
    
    {{- end -}}
  </tbody>
{{- end -}}
